.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  padding-left: 20px; /* Updated for smaller screens */
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  @media screen and (max-width: 991px) {
    padding-left: 10px;
  }
}

.starting-logo {
  margin: 0;
  padding: 10px; 
  width: 120px; 
  height: 100px; 

  @media screen and (max-width: 767px) {
    padding: 5px;
    width: 60px;
    height: 40px;
  }
}

.gap {
  margin-left: 20px; 
  padding-left: 0;

  @media screen and (max-width: 991px) {
    margin-left: 10px;
  }

  .nav-link-gap {
    margin-right: 10px;
    
  }
}

NavItem {
  margin-left: 10px;
  margin-right: 20px;
}

.nav-link-gap {
  position: relative;
  text-decoration: none;
}

.nav-link-gap::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: transparent;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.nav-link-gap:hover::after,
.nav-link-gap:focus::after {
  transform: scaleX(1);
  background-color: #000; 
}
